/* Sets default values  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* This sets each 1rem to 10px */
body {
    font-size: 1.6rem;
}

/* Styles for hyperlinks */
a {
    text-decoration: none;
    cursor: pointer;
}


/* Header and navigation bar  */
header {
    /* border: 2px solid gray; */
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    border-bottom: 1px solid gray;
}
header nav {
    /* border: 2px solid blue; */
    width: 50%;
}
header .nav-right-section {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
}
header .nav-right-section a {
    margin-right: 10px;
}


/* Main area, search bar and buttons  */
main {
    /* border: 2px solid red; */
    text-align: center;
    height: auto;
}
main .main-logo {
    /* border: 2px solid green; */
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
}
main .main-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-left: 50px;
    padding-right: 50px;
}
main .main-input-container {
    border: 2px solid #f2f2f2;
    display: flex;
    max-width: 600px;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
    border-radius: 20px;
}
main .main-input-container input {
    height: 25px;
    width: 90%;
    border: none;
    outline: none;
}
main .main-input-container .main-input-search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

main .main-input-container a {
    background-image: url('https://www.pinpng.com/pngs/m/39-399775_google-voice-assistant-icon-hd-png-download.png');
    background-size: contain;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    
}
main .main-buttons {
    /* border: 2px solid orange; */
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-buttons div button {
    background-color: #f2f2f2;
    height: 30px;
    width: auto;
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    border: none; 
    border-radius: 5px;
    margin: 0px 5px;
}
main .main-empty-space {
    /* border: 2px solid cyan; */
    height: 100px;
}

/* Footer */
footer {
    /* border: 2px solid gray; */
    border-top: 1px solid gray;
    display: flex; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}
footer .footer-left {
    /* border: 2px solid lightgreen; */
    display: flex;
    justify-content: flex-start;
    width: 50%;
    list-style: none;
    margin: 10px auto;
}
footer .footer-right {
    /* border: 2px solid purple; */
    display: flex;
    justify-content: flex-end;
    width: 50%;
    list-style: none;
    margin: 10px auto;
}
footer .footer-left a {
    margin-left: 10px;
}
footer .footer-right a {
    margin-right: 10px;
}